<div class="main-bar-header">
  <div class="header-name">hogefuga</div>
  <div class="header-exit">
    <a href="#">チャットを終了する</a>
  </div>
</div>
<div class="main-bar-contents">
  <div class="comment-box">
    <div class="comment-title">
      <div class="comment-name">Tom</div>
      <div class="comment-date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="comment-content-box">
      <div class="comment-content">おはよう</div>
    </div>
  </div>

  <div class="comment-box">
    <div class="comment-title">
      <div class="comment-name">Sim</div>
      <div class="comment-date">2020/3/31(Wed) 12:43:30</div>
    </div>
    <div class="comment-content-box">
      <div class="comment-content">おはようございます</div>
    </div>
  </div>
</div>

<div class="main-bar-footer">
    <div class="form">
      <div class="message-form">
        <input class="form-input" placeholder= "type a message">
        <label class="form-image">
          <span class="image-file">画像</span>
          <input type="file" class="hidden">
        </label>
      </div>
      <input class="send-button" type="submit" value="送信">
    </div>
</div>
