<div class="side-bar-header">
    <div class="header-user-name">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class="header-new-button">
      <%= link_to 'チャットを作成する', new_room_path %>
    </div>
</div>
<div class="side-bar-contents">
  <div class="room">
    <div class="room-name">
      <a href="#">teckroom1</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">teckroom2</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">teckroom3</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">teckroom4</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">teckroom5</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">teckroom6</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">teckroom7</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">teckroom8</a>
    </div>
  </div>


</div>